.login {
    width: 80%;
    max-width: 420px;
    min-width: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.049);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.headerLogin {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.headerLogin h1 {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}

.headerLogin img {
    width: 40px;
    height: 40px;
}

.containerInputs {
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 1em;
}

.containerInputs label {
    font-weight: 600;
    color: var(--text-color);
}

.containerInputs div {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;
}

.containerInputs input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-color);
    outline: none;
    border: 1px solid #dbdbdb;
    background-color: transparent;
}

.containerBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

.btnLogin {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.100);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.passwordContainer{

    position: relative;
}

 .viewPassword {
    position: absolute;
    top: 53%;
    right: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: var(--text-color);
    cursor: pointer;
} 