.card {
    width: 350px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--secudary-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.089);
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.card::after {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: rgb(172, 172, 172);
    left: 0;
    top: 0;
    transform: scaleX(1);
    transform-origin: left center;
    border-radius: 5px 5px 0px 0px;
    /* animação que encolhe horizontalmente */
    animation: shrinkLeft 4s linear;
}

@keyframes shrinkLeft {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    50% {
        transform: scaleX(0.15);
        opacity: 0.75;
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

.check {
    background-color: rgb(22, 131, 22);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMessage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #f53636;
    /* color: var(--text-color); */
    font-weight: 500;
}