
.bottomMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  border: 0.8px solid var(--border-color);
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}
.btnActive {
  width: 100%;
  height: 50px;
  background-color: var(--secondary-color);
  font-size: 1em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 0.8px solid var(--border-color);
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  /* border-radius: 5px;  */

}
.btnActive:nth-last-child(1) {
  border-bottom: none;
}
