.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
    overflow: hidden;
}

.modalContainer {
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.18);
    padding: 32px 28px 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: fadeIn 0.2s;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}

.titleModal {
    text-align: center;
    margin-bottom: 12px;
}

.titleModal h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(255, 118, 69);
    margin: 0;
}



.footerModal {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
 /* margin-top: 18px; */
}

.cancelBtn {
    background: #f5f5f5;
    color: #555;
    border: none;
    border-radius: 5px;
    padding: 10px 22px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 600;
}

.cancelBtn:hover {
    background: #ececec;
}

.saveBtn {
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 22px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 600;

}

.saveBtn:hover {
    background: #125ea7;
}
.textNewPassword{
    color: var(--text-color);
    font-weight: 500;
}
.textNewPassword span{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.1em;
}