.cardRoom {
    width: 100%;
    /* height: 200px; */
    background-color: var(--secudary-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    /* margin: 12px 0; */
}

.infoRoom p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 8px;
}

.infoRoom span {
    font-size: 1em;
    font-weight: 600;
    color: var(--text-color);
}

.infoRoom p {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-color);
}

.infoRoom {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.actions {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    width: 100%;
    height: 35px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 0.9em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
}

.icon {
    width: 15px;
}