.headerRoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  margin-bottom: -30px;
}
.headerRoom h1 {
  color: var(--text-color);
  font-size: 1.3em;
  font-weight: 600;
}
.searchRoom {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchRoom input {
  height: 40px;
  width: 400px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1em;
  outline: none;
  color: var(--text-color);
}

.btnFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.btnSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  /* margin-left: 10px; */
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.addBtn {
  width: 120px;
  height: 30px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: opacity 0.3s ease;
}
.addBtn:hover {
  opacity: 0.9;
}

.roomList{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}