.card {
  width: 320px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.cardHeader {
  padding: 14px;
  border-bottom: 1px solid var(--border-color);
}

.cardHeader h3 {
  margin: 0;
  font-size: 1.1rem;
}

.cardBody {
  padding: 14px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardFooter {
  padding: 10px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  border-radius: 0 0 8px 8px;
}

.cardFooter button {
  border: none;
  background: transparent;
  cursor: pointer;
}
