.containerFilters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid var(--border-color);
	box-shadow: 0 2px 8px rgba(0,0,0,0.07); */
    /* padding: 20px; */
    border-radius: 5px;
}

.selectUser {
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.selectUser>button {
    background-color: transparent;
    border: none;
    outline: none;
    border-top: 0.5px solid var(--border-color);
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.selectUser>button:hover {
    background: #f0f4ff;
}

.layout {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 20px;
}

.containerTable {
    grid-column: 1/3;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    border: 1px solid var(--border-color);
    overflow-x: auto;
    font-family: "Roboto", sans-serif;
}

.headerTable {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    font-weight: 600;
    font-size: 1.1em;
}

.contentTable {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid var(--border-color); */
}

.btnAction {
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 5px 8px;
    border-radius: 5px;
    /* font-size: 1.5em; */
    transition: background-color 0.2s, color 0.2s;
}
.btnAction:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background: transparent;
}

.table th{
    padding: 14px 12px;
    color: var(--text-color);
    font-weight: 600;
    text-align: left;
}
.table td {
     padding: 8px 12px;
    color: var(--text-color);
    font-weight: 600;
    text-align: left;
}

.table th {
    background: #f5f6fa;
    font-weight: 600;
    border-bottom: 2px solid var(--border-color);
}

.table tr {
    transition: background 0.2s;
}

.table tbody tr:hover {
    background: #f0f4ff;
}

.table td {
    border-bottom: 1px solid #eaeaea;
    color: #444;
}

.table td:last-child {
    display: flex;
    gap: 8px;
}

.btnTable {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.2s;
}

.table button:hover {
    background: #1e40af;
}

.addBtn {
    width: 120px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 0.8em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: opacity 0.3s ease;
}

.addBtn:hover {
    opacity: 0.9;
}

.searchClass {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchClass input {
    height: 40px;
    width: 400px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    outline: none;
    color: var(--text-color);

}

.btnFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.btnSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    /* margin-left: 10px; */
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.containerPaginator {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-top: -30px; */
}

