.card{
    width: 100%;
    height: 120px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap: 16px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.060);
    font-family: 'Roboto', sans-serif;
}

.discipline_info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.discipline_info p{
    font-weight: 500;
    font-size: 0.8em;
    color: var(--text-color);
}
.discipline_info h1 {
    font-weight: 700;
    font-size: 1em;
    color: #1f1f1f;
}
.discipline_info span{
    font-weight: 400;
    font-size: 0.9em;
    color: var(--text-color);
}
.container_note_absence{
    display: flex;
    gap: 20px;
    margin-left: auto;
    height: 100%;
}
.notes, .absences{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    border: 1px solid var(--border-color);
}
.label{
    background-color: var(--primary-color);
    font-size: 8px;
    color: var(--white-color);
    padding: 2px 0;
    font-weight: 500;
}
.value, .value{
    padding-top: 20px;
}