@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.container {
    padding: 20px 40px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-top: 85px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: auto; */
}

@media (max-width: 768px) {
    .container {
        padding: 10px 10px;
        margin-top: 10px;
        gap: 30px;
    }
}

:root {
    line-height: 1.5;
    --primary-color: #325EA1;
    --secudary-color: #fcfcfc;
    --text-color: #555555;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --border-color: #eeeeee;
    --gray-color: #cccccc;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}